# Import working files to Pandas

In [1]:
#import dependencies
import json
import pandas as pd
import numpy as np
from pandas import DataFrame
import matplotlib.pylab as plt
import matplotlib.pyplot as plt

In [2]:
# add import warnigns to skip any warning messages on the screen
import warnings
warnings.filterwarnings('ignore')

In [3]:
#import the csv files
game_plays = pd.read_csv("game_plays.csv")
games = pd.read_csv('game.csv')
team_info = pd.read_csv("team_info.csv")
team_stats = pd.read_csv("game_teams_stats.csv")
teams = team_info.merge(team_stats, on='team_id')

# Check first dataset - game_plays

In [4]:
# check shot_log data
# check all column in the dataset
game_plays.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5050529 entries, 0 to 5050528
Data columns (total 18 columns):
 #   Column               Dtype
---  ------               -----
 0   play_id              object
 1   game_id              int64
 2   team_id_for          float64
 3   team_id_against      float64
 4   event                object
 5   secondaryType        object
 6   x                    float64
 7   y                    float64
 8   period               int64
 9   periodType           object
 10  periodTime           int64
 11  periodTimeRemaining  float64
 12  dateTime             object
 13  goals_away           int64
 14  goals_home           int64
 15  description          object
 16  st_x                 float64
 17  st_y                 float64
dtypes: float64(7), int64(5), object(6)
memory usage: 693.6+ MB

# Explore the second dataset - games

In [5]:
games.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26305 entries, 0 to 26304
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   game_id                 26305 non-null  int64
 1   season                  26305 non-null  int64
 2   type                    26305 non-null  object
 3   date_time_GMT           26305 non-null  object
 4   away_team_id            26305 non-null  int64
 5   home_team_id            26305 non-null  int64
 6   away_goals              26305 non-null  int64
 7   home_goals              26305 non-null  int64
 8   outcome                 26305 non-null  object
 9   home_rink_side_start    25109 non-null  object
 10  venue                   26305 non-null  object
 11  venue_link              26305 non-null  object
 12  venue_time_zone_id      26305 non-null  object
 13  venue_time_zone_offset  26305 non-null  int64
 14  venue_time_zone_tz      26305 non-null  object
dtypes: int64(7), object(8)
memory usage: 3.0+ MB

# Explore the third dataset - teams

In [6]:
teams.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 52590 entries, 0 to 52589
Data columns (total 22 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   team_id                 52590 non-null  int64
 1   franchiseId             52590 non-null  int64
 2   shortName               52590 non-null  object
 3   teamName                52590 non-null  object
 4   abbreviation            52590 non-null  object
 5   link                    52590 non-null  object
 6   game_id                 52590 non-null  int64
 7   HoA                     52590 non-null  object
 8   won                     52590 non-null  bool
 9   settled_in              52590 non-null  object
 10  head_coach              52562 non-null  object
 11  goals                   52582 non-null  float64
 12  shots                   52582 non-null  float64
 13  hits                    47662 non-null  float64
 14  pim                     52582 non-null  float64
 15  powerPlayOpportunities  52582 non-null  float64
 16  powerPlayGoals          52582 non-null  float64
 17  faceOffWinPercentage    30442 non-null  float64
 18  giveaways               47662 non-null  float64
 19  takeaways               47662 non-null  float64
 20  blocked                 47662 non-null  float64
 21  startRinkSide           50218 non-null  object
dtypes: bool(1), float64(10), int64(3), object(8)
memory usage: 8.9+ MB

# Connect Pandas and SQL

In [7]:

import pandas as pd
import numpy as np

import re

from sqlalchemy import create_engine
import psycopg2

from config import db_password

import time

In [8]:
db_string = f"postgres://postgres:{db_password}@localhost/NHL"

In [9]:
# Create the database engine 
engine = create_engine(db_string)

In [10]:
#import 1st file - game
games.to_sql(name="game", con=engine,  if_exists='replace')

In [11]:
games_check = pd.read_sql_query('select COUNT(*) FROM "game"',con=engine)
games_check

   count
0  26305

In [12]:
#import 1st file - team_info
team_info.to_sql(name="team_info", con=engine,  if_exists='replace')

In [13]:
team_info_check = pd.read_sql_query('select COUNT(*) FROM "team_info"',con=engine)
team_info_check

   count
0     33

In [14]:
#import 1st file - team_stats
team_stats.to_sql(name="game_teams_stats", con=engine,  if_exists='replace')

In [16]:
team_stats_check = pd.read_sql_query('select COUNT(*) FROM "game_teams_stats"',con=engine)
team_stats_check

   count
0  52610

In [17]:
#import 1st file - teams
teams.to_sql(name="teams", con=engine,  if_exists='replace')

In [18]:
teams_check = pd.read_sql_query('select COUNT(*) FROM "teams"',con=engine)
teams_check

   count
0  52590